<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/styles.html' %}
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/safety.png' ) }}" rel="icon" />
  </head>
  <body>
    {% block content %}
    <section id="dashboard" class="d-none d-md-block py-4">
      <div class="container position-relative">
        <div class="position-absolute top-0 end-0 me-5">
          <a href="/" class="btn blue-bg"><i class="bi-arrow-left"></i></a>
          <a href="{{ url_for('input_dashboard' ) }}" class="btn blue-bg"><i class="bi-vr"></i></a>
        </div>
        {% include 'pages/tools/kinerja/parts/title.html' %}
        <div class="row gx-4 kin-unit">{% include 'pages/tools/kinerja/parts/kinerja-unit-bulanan.html' %}</div>
        <div class="row mt-3">
          <div class="col-7 kin-kum">{% include 'pages/tools/kinerja/parts/kinerja-kumulatif.html' %}</div>
          <div class="col-5 bpp">{% include 'pages/tools/kinerja/parts/bpp.html' %}</div>
        </div>
        <div class="row mt-3">
          <div class="col-7 kondisi">{% include 'pages/tools/kinerja/parts/kondisi.html' %}</div>
          <div class="col-5">
            <div class="oil">{% include 'pages/tools/kinerja/parts/oil.html' %}</div>
            <div class="limbah mt-3">{% include 'pages/tools/kinerja/parts/limbah.html' %}</div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %} {% include 'includes/scripts.html' %} {% include 'pages/tools/kinerja/charts/kinerja-kum.html' %} {% include 'pages/tools/kinerja/charts/komponen.html' %}
  </body>
</html>
