<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/styles.html' %}
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/safety.png' ) }}" rel="icon" />
  </head>
  <body>
    {% block content %}
    <section id="dashboard" class="d-none d-md-block py-4">
      <div class="container">
        <div class="row gx-4 kin-unit">{% include 'pages/tools/kinerja/parts/kinerja-unit-bulanan.html' %}</div>
        <div class="row mt-3">
          <div class="col-7 kin-kum">{% include 'pages/tools/kinerja/parts/kinerja-kumulatif.html' %}</div>
          <div class="col-5 bpp">{% include 'pages/tools/kinerja/parts/bpp.html' %}</div>
        </div>
        <div class="row mt-3">
          <div class="col-7 kin-kum">{% include 'pages/tools/kinerja/parts/kondisi.html' %}</div>
          <div class="col-5 oil">{% include 'pages/tools/kinerja/parts/oil.html' %}</div>
        </div>
      </div>
    </section>
    {% endblock %} {% include 'includes/scripts.html' %} {% include 'pages/tools/kinerja/charts/kinerja-kum.html' %} {% include 'pages/tools/kinerja/charts/komponen.html' %}
  </body>
</html>
