<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/styles.html' %}
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/safety.png' ) }}" rel="icon" />
  </head>
  <body>
    {% block content %}
    <main id="print-report">
      <div class="d-flex justify-content-center report-nav download border-bottom mb-3 p-2">
        <a href="{{ url_for('report_apar') }}" class="me-4"
          ><i class="bi-arrow-left-circle-fill"><span class="d-block fst-normal text-center">Back</span></i></a
        ><i class="bi-printer-fill" onclick="window.print()"><span class="d-block fst-normal text-center">Print</span></i>
      </div>
      <div class="container-fluid position-relative overflow-hidden">
        <div class="table-responsive d-none d-md-block">
          <table class="table table-header table-bordered border-dark text-center">
            <thead>
              <tr class="align-middle">
                <th scope="col" rowspan="2"><img src="{{ url_for('static', filename='img/logo-pln.png' ) }}" class="img-fluid" alt="" /></th>
                <th scope="col" class="smt">PLN SISTEM MANAJEMEN TERINTEGRASI</th>
                <th scope="col" class="text-start">Nomor</th>
                <th scope="col" class="text-start">: SMI-PKTM-CL-U-002</th>
              </tr>
              <tr class="align-middle">
                <th scope="col" class="checklist">CHECKLIST</th>
                <th scope="col" class="text-start">Revisi</th>
                <th scope="col" class="text-start">: 0</th>
              </tr>
              <tr class="align-middle">
                <th scope="col">UIKL SULAWESI</th>
                <th scope="col" rowspan="3" class="align-middle">INSPEKSI APAR</th>
                <th scope="col" class="text-start">Edisi</th>
                <th scope="col" class="text-start">: 2</th>
              </tr>
              <tr class="align-middle">
                <th scope="col">UPDK MINAHASA</th>
                <th scope="col" class="text-start">Tanggal Terbit</th>
                <th scope="col" class="text-start">: 03 September 2020</th>
              </tr>
              <tr class="align-middle">
                <th scope="col">ULPLTD KOTAMOBAGU</th>
                <th scope="col" class="text-start">Halaman</th>
                <th scope="col" class="text-start">: 1 dari 1</th>
              </tr>
            </thead>
          </table>
        </div>
        <h6 class="fw-bolder text-center mt-lg-2">BULAN {{bulan|upper}}</h6>
        <div class="table-responsive">
          <table class="table main-table table-bordered border-dark text-center">
            <thead>
              <tr class="align-middle">
                <th scope="col" rowspan="2" class="th1">NO</th>
                <th scope="col" rowspan="2" class="th2">LOKASI</th>
                <th scope="col" rowspan="2" class="th3">MEREK</th>
                <th scope="col" rowspan="2" class="th4">TIPE</th>
                <th scope="col" rowspan="2" class="th5">JENIS</th>
                <th scope="col" rowspan="2" class="th6">KAPASITAS</th>
                <th scope="col" colspan="6" class="th7">INDIKATOR</th>
                <th scope="col" rowspan="2" class="th8">MASA BERLAKU</th>
                <th scope="col" rowspan="2" class="th9">KETERANGAN</th>
              </tr>
              <tr class="align-middle">
                <th scope="col" class="th10">KARTU GANTUNG</th>
                <th scope="col" class="th11">FISIK</th>
                <th scope="col" class="th12">SEAL</th>
                <th scope="col" class="th13">PIN</th>
                <th scope="col" class="th14">METER</th>
                <th scope="col" class="th15">SELANG & CORONG</th>
              </tr>
            </thead>

            <tbody>
              {% for data in datas %}
              <tr class="align-middle">
                <td>{{data['id_apar']}}</td>
                <td class="text-start">{{data['lokasi']}}</td>
                <td>{{data['merek']}}</td>
                <td>{{data['tipe']}}</td>
                <td>{{data['jenis']}}</td>
                <td>{{data['kapasitas']}}</td>
                {% if data['kartu_gantung'] == 1 %}
                <td><i class="bi-check2 text-success"></i></td>
                {% else %}
                <td><i class="bi-x text-danger"></i></td>
                {% endif %} {% if data['fisik'] == 1 %}
                <td><i class="bi-check2 text-success"></i></td>
                {% else %}
                <td><i class="bi-x text-danger"></i></td>
                {% endif %} {% if data['seal'] == 1 %}
                <td><i class="bi-check2 text-success"></i></td>
                {% else %}
                <td><i class="bi-x text-danger"></i></td>
                {% endif %} {% if data['pin'] == 1 %}
                <td><i class="bi-check2 text-success"></i></td>
                {% else %}
                <td><i class="bi-x text-danger"></i></td>
                {% endif %} {% if data['meter'] == 1 %}
                <td><i class="bi-check2 text-success"></i></td>
                {% else %}
                <td><i class="bi-x text-danger"></i></td>
                {% endif %} {% if data['selang_corong'] == 1 %}
                <td><i class="bi-check2 text-success"></i></td>
                {% else %}
                <td><i class="bi-x text-danger"></i></td>
                {% endif %}
                <td>{{data['masa_berlaku']}}</td>
                <td>{{data['keterangan']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="fst-italic">Source = https://k3.alanpy.xyz{{request.path}}</p>

        <div class="row">
          <div class="col-6 text-center">
            <h6 class="invisible mb-3">Kotamobagu, 28 Oktober 2022</h6>
            <h6 class="mb-5">PLT MANAGER</h6>
            <h6 class="fw-bolder">BAHAR SUDRAJAT</h6>
          </div>
          <div class="col-6 text-center">
            <h6 class="mb-3">Kotamobagu, {{tanggal}}</h6>
            <h6 class="mb-5">PJ LAKS K3L DAN KEAMANAN</h6>
            <h6 class="fw-bolder">ALAN NUARI</h6>
          </div>
        </div>
      </div>
    </main>
    {% endblock %} {% include 'includes/scripts.html' %}
  </body>
</html>
