{% extends 'layouts/base.html' %} {% block content %}
<main id="report-apar">
  <div class="row">
    <div class="col offset-md-3">
      <div class="section-title position-relative">
        <h2>APAR</h2>
        <p>REPORT APAR</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <form method="get">
      <input type="month" class="px-5 py-2 rounded-4 border mb-3" name="month" onchange="this.form.submit()" />
    </form>
  </div>
  {% if periodes %}
  <div class="list-group d-grid gap-2 border-0 offset-md-3 col-md-6">
    {% for periode in periodes %}
    <div class="position-relative text-center">
      <a href="{{ url_for('print_report_apar', tanggal=dates[loop.index0] ) }}" class="list-group-item border rounded-4 mx-3 py-3 pe-5" for="listGroupRadioGrid1">
        <strong class="fw-semibold">Inspeksi APAR {{month}}</strong>
        <span class="d-block small opacity-75"><i class="bi-calendar-day me-2"></i>{{periode[0]}} - {{periode[1]}}</span>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</main>
{% endblock %}
