{% extends 'layouts/base.html' %} {% block content %}
<main id="checklist-apar">
  <div class="row">
    <div class="col">
      <div class="section-title position-relative">
        <h2>HYDRANT</h2>
        <p>INSPEKSI HYRDANT</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="list-group">
        {% for hydrant in hydrants %} {% if hydrant['id_hydrant'] in checks %}
        <button type="button" class="list-group-item list-group-item-action d-flex" disabled>
          {{loop.index}}. {{hydrant['nama_peralatan']}} <span class="ms-auto"><i class="text-success bi-check-square-fill"></i></span>
        </button>
        {% else %}
        <button type="button" class="list-group-item list-group-item-action d-flex" data-bs-toggle="modal" data-bs-target="#modalChecklistHydrant{{hydrant['id_hydrant']}}">
          {{loop.index}}. {{hydrant['nama_peralatan']}} <span class="text-danger ms-auto"><i class="bi-x-square-fill"></i></span></button
        >{% endif %} {% include 'pages/hydrant/modal/modal-checklist-hydrant.html' %}{% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
