<div class="col">
  <div class="p-3 card rounded-4 shadow-sm position-relative">
    <h5>EAF</h5>
    <h3>{{kin_u_bul['eaf_unit']}} %</h3>
    <h6>{{kin_u_bul_prev['eaf_unit']}} % last month</h6>
    {% if kin_u_bul['eaf_unit'] > kin_u_bul_prev['eaf_unit'] %}
    <i class="green ind bi-arrow-up-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% elif kin_u_bul['eaf_unit'] < kin_u_bul_prev['eaf_unit'] %}
    <i class="red ind bi-arrow-down-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% else %}
    <i class="yellow ind bi-dash-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% endif %} {% if kin_u_bul['eaf_unit'] >= target[0]['nilai_target'] %}
    <h6 class="mt-2 green"><i class="bi-check-lg me-1"></i> Target {{target[0]['nilai_target']}} %</h6>
    {% else %}
    <h6 class="mt-2 red"><i class="bi-x-lg me-1"></i> Target {{target[0]['nilai_target']}} %</h6>
    {% endif %}
  </div>
</div>
<div class="col">
  <div class="p-3 card rounded-4 shadow-sm position-relative">
    <h5>EFOR</h5>
    <h3>{{kin_u_bul['efor_unit']}} %</h3>
    <h6>{{kin_u_bul_prev['efor_unit']}} % last month</h6>
    {% if kin_u_bul['efor_unit'] > kin_u_bul_prev['efor_unit'] %}
    <i class="red ind bi-arrow-up-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% elif kin_u_bul['efor_unit'] < kin_u_bul_prev['efor_unit'] %}
    <i class="green ind bi-arrow-down-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% else %}
    <i class="yellow ind bi-dash-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% endif %} {% if kin_u_bul['efor_unit'] <= target[1]['nilai_target'] %}
    <h6 class="mt-2 green"><i class="bi-check-lg me-1"></i> Target {{target[1]['nilai_target']}} %</h6>
    {% else %}
    <h6 class="mt-2 red"><i class="bi-x-lg me-1"></i> Target {{target[1]['nilai_target']}} %</h6>
    {% endif %}
  </div>
</div>
<div class="col">
  <div class="p-3 card rounded-4 shadow-sm position-relative">
    <h5>SOF</h5>
    <h3>{{kin_u_bul['sof_unit']}} %</h3>
    <h6>{{kin_u_bul_prev['sof_unit']}} % last month</h6>
    {% if kin_u_bul['sof_unit'] > kin_u_bul_prev['sof_unit'] %}
    <i class="red ind bi-arrow-up-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% elif kin_u_bul['sof_unit'] < kin_u_bul_prev['sof_unit'] %}
    <i class="green ind bi-arrow-down-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% else %}
    <i class="yellow ind bi-dash-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% endif %} {% if kin_u_bul['sof_unit'] <= target[2]['nilai_target'] %}
    <h6 class="mt-2 green"><i class="bi-check-lg me-1"></i> Target {{target[2]['nilai_target']}} %</h6>
    {% else %}
    <h6 class="mt-2 red"><i class="bi-x-lg me-1"></i> Target {{target[2]['nilai_target']}} %</h6>
    {% endif %}
  </div>
</div>
<div class="col">
  <div class="p-3 card rounded-4 shadow-sm position-relative">
    <h5>SFC</h5>
    <h3 style="font-size: 20px">{{kin_u_bul['sfc_unit']}} Lt/kWh</h3>
    <h6>{{kin_u_bul_prev['sfc_unit']}} Lt/kWh last month</h6>
    {% if kin_u_bul['sfc_unit'] > kin_u_bul_prev['sfc_unit'] %}
    <i class="red ind bi-arrow-up-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% elif kin_u_bul['sfc_unit'] < kin_u_bul_prev['sfc_unit'] %}
    <i class="green ind bi-arrow-down-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% else %}
    <i class="yellow ind bi-dash-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% endif %} {% if kin_u_bul['sfc_unit'] <= target[3]['nilai_target'] %}
    <h6 class="mt-2 green"><i class="bi-check-lg me-1"></i>Target {{target[3]['nilai_target']}} Lt/kWh</h6>
    {% else %}
    <h6 class="mt-2 red"><i class="bi-x-lg me-1"></i>Target {{target[3]['nilai_target']}} Lt/kWh</h6>
    {% endif %}
  </div>
</div>
<div class="col">
  <div class="p-3 card rounded-4 shadow-sm position-relative">
    <h5>PS</h5>
    <h3>{{kin_u_bul['ps_unit']}} %</h3>
    <h6>{{kin_u_bul_prev['ps_unit']}} % last month</h6>
    {% if kin_u_bul['ps_unit'] > kin_u_bul_prev['ps_unit'] %}
    <i class="red ind bi-arrow-up-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% elif kin_u_bul['ps_unit'] < kin_u_bul_prev['ps_unit'] %}
    <i class="green ind bi-arrow-down-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% else %}
    <i class="yellow ind bi-dash-circle-fill position-absolute top-50 end-0 translate-middle-y me-3"></i>
    {% endif %} {% if kin_u_bul['ps_unit'] <= target[4]['nilai_target'] %}
    <h6 class="mt-2 green"><i class="bi-check-lg me-1"></i> Target {{target[4]['nilai_target']}} %</h6>
    {% else %}
    <h6 class="mt-2 red"><i class="bi-x-lg me-1"></i> Target {{target[4]['nilai_target']}} %</h6>
    {% endif %}
  </div>
</div>
