{% extends 'layouts/base.html' %}{% block content %}
<main id="data-apar">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="section-title position-relative">
          <h2>TOOLS</h2>
          <p>DAFTAR HADIR</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead>
            <tr class="align-middle">
              <th scope="col">No</th>
              <th scope="col">Nama</th>
              <th scope="col">Instansi</th>
              <th scope="col">Jabatan</th>
              <th scope="col">Email</th>
              <th scope="col">No. HP</th>
              <th scope="col">Tanda Tangan</th>
            </tr>
          </thead>
          <tbody>
            {% for absen in absens %}
            <tr class="align-middle">
              <td>{{loop.index}}</td>
              <td>{{absen['nama']}}</td>
              <td>{{absen['instansi']}}</td>
              <td>{{absen['jabatan']}}</td>
              <td>{{absen['email']}}</td>
              <td>{{absen['hp']}}</td>
              <td><img src="/static/img/absen/ttd/{{absen['ttd']}}" height="30" alt="" /></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
